{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-fluid mb-5">
        <h1>Watchlists</h1>
        <div class="row g-4 mt-4 ml-2 mr-2">
            {% for Watchlist in Watchlists %}
                <div class="col-4">
                    <a class="text-decoration-none" href="{% url 'listing' Watchlist.listing.id %}" style="color: black;">
                        <div class="p-3 border bg-light mb-4" style="width: 450px; height: 500px">    
                            <div class="text-center">
                                {% if Watchlist.listing.status is True %}
                                    <h1 class="text-danger"><strong>CLOSED</strong></h1>
                                {% endif %}
                                <div class="mx-auto" style="width: 300px; height: 210px;">
                                    <img src="{{ Watchlist.listing.url }}" alt="image" style="width: 300px; height: 210px">
                                </div>
                            </div>
                            <div class="text-center mt-2 mb-3">
                                <strong>{{ Watchlist.listing.title|capfirst }}</strong>
                            </div>
                            <div class="mx-auto mb-1" style="width: auto; height: 110px;">
                                <h6>{{ Watchlist.listing.description }}</h6>
                            </div>
                            <strong>Starting Price:</strong> ${{ Watchlist.listing.starting_price }}
                        </div> 
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
            
                    